[submodule "Fluid Simulation/RaylibCPP"]
	path = Fluid Simulation/RaylibCPP
	url = https://github.com/RobLoach/raylib-cpp
[submodule "Fluid Simulation/RayGUI"]
	path = Fluid Simulation/RayGUI
	url = https://github.com/raysan5/raygui
